@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

html,
body {
  height: 100%;
}

:root {
  --bs-3C4245: #3C4245;
  --bs-686E71: #686E71;
  --bs-6A91A4: #6A91A4;
  --bs-3688B0: #3688B0;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}


.nobody {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.usuario-data3 {
  width: 100%;
  margin: auto;
  height: 100%;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
}


.container-x {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-top: 0px;
  background: #fff;
  display: flex;
}


.content-type {
    width: calc(100vw - 10vw);
    height: 100vh;
}

#tabe1,#tabe2,#tabe3 {
  display: none;
}

.tabs-contentype {
    display: none;
}
  
.tabs-contentype.active {
    display: block;
}



.labels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinear los labels al inicio del contenedor */
  width: 100%;
  height: 92vh;
}

.notecraft {
  width: 88vw;
  height: 10vh;
  /* background: #20c997; */
  margin: 1vh 1vw;
  padding-top: 1vh;
  border-radius: 20px;
}

.note-prim {
  margin: 5vh 0;
  border: var(--bs-686E71) solid transparent;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0vh;
  width: 100%;
  font-weight: 600;
  color: var(--bs-dark);
  font-size: 2vw;
}

.note-sec {
  margin: 5vh 0;
  border: var(--bs-686E71) solid transparent;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0vh;
  width: 100%;
  font-weight: 600;
  color: var(--bs-gray-600);
  font-size: 2vw;
}

.note-prim:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 1vh;
  color: var(--bs-dark);
}

.note-prim:before {
  content: '\f15b';
}

.label-type {
  margin: 5vh 0;
  border: var(--bs-686E71) solid transparent;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 4vh;
  width: 100%;
  font-weight: 600;
  color: var(--bs-686E71);
  font-size: 0.9vw;
}

.label-type:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 1vh;
  color: rgb(65, 51, 51);
}

.label-type[for*='1']:before {
  content: '\f00a';
}

.label-type[for*='2']:before {
  content: '\f067';
}

.label-type[for*='3']:before {
  content: '\f02b';
}

.label-type:hover {
  color: #888;
  cursor: pointer;
}

.form-label {
    margin-bottom: 0.5rem;
  }

input[type="radio"]:checked + .label-type {
  color: var(--bs-body-bg);
}

input[type="radio"]:checked + .label-type::before {
  color: var(--bs-body-bg);
}

.barmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100vh;
  background: var(--bs-dark);
}

.Menux {
  width: 100%;
  color: white;
  text-align: left;
  margin-bottom: 2vh;
  font-size: 3vh;
  height: 6vh;
  padding: 2vh 2vh;
}

.textObtain {
    margin-top: 1vh;
    margin-bottom: 0;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 20px;
    width: 88vw;
    height: 88vh;
    resize: none;
    padding: 1vh;
    color: var(--bs-body-bg);
    font-size: 20px;
    outline: none;
    background: var(--bs-dark);
    overflow-y: auto; 
    border: solid transparent;
    border-bottom: var(--bs-686E71) 1px solid;

    scrollbar-width: thin; 
    scrollbar-color: var(--bs-3688B0) transparent; 
}

.textObtain::-webkit-scrollbar {
    width: 4px; 
    background-color: transparent;
}
  
.textObtain::-webkit-scrollbar-track {
    background-color: transparent; 
}


.subComm {
    width: 66vw;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 20px;
    margin-right: 2vw;
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 5vh;
    background: var(--bs-dark);
    color: var(--bs-body-bg);
    border: 0 transparent;
}

.subEnv {
    width: 20vw;
    margin-top: 2vh;
    font-size: 1vw;
    border-radius: 20px;
    margin-left: 1hw;
    height: 5vh;
    border: solid transparent;
    transition: 0.5s;
}

.subEnv:hover {
    border: solid var(--bs-3688B0) 3px;
    background: var(--bs-dark);
    color: var(--bs-body-bg);
    transition: 0.5s;
}

.vistas {
    width: 88vw;
    height: 87vh;
    background: var(--bs-dark);
    margin: 1vh 1vw;
    border-radius: 20px;
}

.discos {
    align-content: inherit;
    justify-content: inherit;
    width: 100%;
    height: 100%;
    padding: 2vh 3vw;
    color: white;
}

.buttonDisk {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1vh;
    margin: 1vh 1vw;
    border-radius: 20px;
}

.buttonDisk:hover {
    background-color: var(--bs-3688B0);
    color: var(--bs-dark);
}

.buttonDisk img {
    width: 6vw; 
    height: auto;
}

  
.buttonDisk span {
    color: var(--bs-body-bg);
    margin-top: 5px;
}

.particiones {
    align-content: inherit;
    justify-content: inherit;
    width: 100%;
    height: 95%;
    padding: 2vh 3vw;
    color: white;
}

.buttonPartition {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1vh;
    margin: 1vh 1vw;
    border-radius: 20px;
}

.buttonPartition:hover {
    background-color: var(--bs-3C4245);
    color: var(--bs-dark);
}

.buttonPartition img {
    width: 6vw; 
    height: auto;
}

  
.buttonPartition span {
    color: var(--bs-body-bg);
    margin-top: 5px;
}


.button-ant {
    border-radius: 100px;
    background: transparent;
    margin-top: 1vh;
    margin-left: 0.5vw;
    font-size: 2vw;
    border: transparent;
    color: var(--bs-3688B0);
    transition: 0.5s;
}

.button-ant:hover {
    color: var(--bs-body-bg);
    transition: 0.5s;
}

.button-ant:before {
    font-family: fontawesome;
    font-weight: normal;
    content: '\f060';
}

.login {
    align-content: center;
    justify-content:center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2vh 3vw;
    color: white;
    
}

.div-form {
  width: 100%;
  height: 50%;
  margin-top: 10vh;
}

.login-form {
  width: 30vw;
  height: 70vh;
  background: var(--bs-gray-500);
  border-radius: 10px;
}

.button-ant2 {
    border-radius: 100px;
    background: transparent;
    margin-top: 1vh;
    margin-left: 0.5vw;
    font-size: 2vw;
    border: transparent;
    color: var(--bs-danger);
    transition: 0.5s;
    opacity: 1;
    z-index: 100;
}

.button-ant2:hover {
    color: var(--bs-body-bg);
    transition: 0.5s;
}

.button-ant2:before {
    font-family: fontawesome;
    font-weight: normal;
    content: '\f060';
}

.usuario-logo {
  color: var(--bs-danger);
  margin: 0;
  padding: 0;
  width: 15vh;
  height: 15vh;
  margin: auto;
  transition: .5s;
}

.usuario-logo::before {
  margin: 0 0.05vw;
  padding: 0;
  font-size: 16vh;
  font-family: fontawesome;
  font-weight: normal;
  content: '\f113';
}

.usuario-logo:hover {
  color: #0d6efd;
  transition: .5s;
}

.form-users {
  width: 100%;
  margin-top: 6vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  height: 50%;
}

.usuario-form {
  padding: 0 1vw;
  height: 4vh;
  font-size: 2vh;
  width: 60%;
  background-color: var(--bs-dark);
  color: var(--bs-body-bg);
  border-color: transparent;
  transition: .5s;
}

.password-form {
  padding: 0 1vw;
  height: 4vh;
  font-size: 2vh;
  margin-top: 4vh;
  width: 60%;
  background-color: var(--bs-dark);
  color: var(--bs-body-bg);
  border-color: transparent;
  border: 0 solid transparent;
  transition: .5s;
}

.usuario-form:focus,  
.password-form:focus {
  outline: none;
  box-shadow: 0 0 0 2px green;
  transition: .5s;
}

.login-button {
  margin-top: 5vh;
  width: 50%;
  height: 10%;
  color: var(--bs-body-bg);
  border: 2px transparent solid;
  font-size: 2vh;
  background: var(--bs-danger);
  transition: .5s;
}

.login-button:hover {
  background: var(--bs-body-bg);
  color: var(--bs-danger);
  transition: .5s;
  border: 2px solid var(--bs-danger);
}

.dash {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0vh 0vw;
  color: white;
}

.navegadores-dash {
  width: 100%;
  height: 5vh;
  display: flex;
}

.button-ant-dash {
  border-radius: 100px;
  background: transparent;
  margin-top: 0vh;
  margin-left: 0.5vw;
  font-size: 2vw;
  border: transparent;
  color: var(--bs-body-bg);
  transition: 0.5s;
}

.button-ant-dash:hover {
  color: var(--bs-danger);
  transition: 0.5s;
}

.button-ant-dash:before {
  font-family: fontawesome;
  font-weight: normal;
  content: '\f011';
}

.button-sal-carpet {
  border-radius: 100px;
  background: transparent;
  margin-top: 0vh;
  margin-left: 0.5vw;
  font-size: 2vw;
  border: transparent;
  color: var(--bs-teal);
  transition: 0.5s;
}

.button-sal-carpet:hover {
  color: var(--bs-body-bg);
  transition: 0.5s;
}

.button-sal-carpet:before {
  font-family: fontawesome;
  font-weight: normal;
  content: '\f190';
}

.name_user{
  font-size: 2vh;
  height: 100%;
  width: 6vw;
  margin: 0;
  align-content: center;
}

.div-path {
  width: 80%;
  justify-content: center;
  font-size: 2vh;
  overflow-x: auto;
  height: 90%;
  margin: 0.25% 2%;
  border-radius: 20px;
  padding: .5vh 1vh;
  background: var(--bs-gray-600);
}

.content-dashboard {
  align-content: inherit;
  justify-content: inherit;
  width: 100%;
  height: 95%;
  padding: 2vh 3vw;
  color: white;
  z-index: -50;
}

.modal {
  position: absolute;
  top: 53.5%;
  left: 51%;
  margin-top: 2vh;
  margin-left: 4vw;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ajusta este valor según sea necesario */
  width: 86vw;
  height: 87vh;
  background: var(--bs-body-bg);
  color: var(--bs-3C4245);
  border-radius: 20px;
  padding: 0 2vw;
  /* Otros estilos... */
}

.boton-exit {
  width: 100%;
  height: 5vh;
  border-radius: 10px;
}

.button-x {
  width: 4vh;
  height: 4vh;
  text-align: center;
  justify-content: center;
  position: absolute;
  right: .5vw;
  top: .5vh;
  font-size: 2vh;
  color: var(--bs-dark);
  border-radius: 20px;
  border: 1px solid transparent;
  background: var(--bs-3688B0);
  transition: .5s;
}

.button-x::before {
  font-family: fontawesome;
  font-weight: normal;
  content: '\f066';
}

.button-x:hover {
  background-color: var(--bs-dark);
  transition: .5s;
  color: var(--bs-3688B0);
}

.button-save {
  width: 6vh;
  height: 6vh;
  text-align: center;
  justify-content: center;
  position: absolute;
  right: 7vw;
  top: 75.5vh;
  font-size: 3vh;
  color: var(--bs-success);
  border-radius: 3vh;
  border: 1px solid transparent;
  background: var(--bs-gray-300);
  transition: .5s;
}

.button-save::before {
  font-family: fontawesome;
  font-weight: normal;
  content: '\f126';
}

.button-save:hover {
  background-color: var(--bs-dark);
  transition: .5s;
  color: var(--bs-gray-300);
}

.modal2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 2vh;
  margin-left: 4vw;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ajusta este valor según sea necesario */
  width: 80vw;
  height: 85vh;
  background: var(--bs-body-bg);
  color: var(--bs-3C4245);
  border-radius: 20px;
  padding: 0 2vw;
  /* Otros estilos... */
}

.graphica {
  width: 100%;
  height: 91%;
  border-radius: 20px;
  background-color: #212529;
}

.contenido-modal {
  width: 100%;
  height: 90%;
  text-align: justify;
  overflow: auto; /* Esto añade barras de desplazamiento si el contenido es demasiado grande */
  border-bottom: var(--bs-686E71) 1px transparent;

  scrollbar-width: thin; 
  scrollbar-color: var(--bs-3688B0) transparent; 
}

.contenido-modal::-webkit-scrollbar {
  width: 4px; 
  background-color: transparent;
}

.contenido-modal::-webkit-scrollbar-track {
  background-color: transparent; 
}

.contenido-modal #text {
  text-align: justify;
  word-wrap: break-word; /* Esto fuerza al texto a envolverse cuando sea necesario */
}

.contenido-modal h2 {
  text-align: justify;
  font-size: 4vh;
  color: #fff;
  word-wrap: break-word; /* Esto fuerza al texto a envolverse cuando sea necesario */
}

.pantalla{
  color: white;
  padding:20px;
}

.buttonSendNote {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.buttonSendNote :hover {
  background-color: #555555;
  color: white;
}

.dropdown {
  position: relative;
  left: 80vw;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 1px;
  z-index: 1;
  min-width: 140px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.vistapantalla1 {
  margin-left: 1vw;
  width: 86vw;
  height: 80vh;
}

.vistapantalla2 {
  margin-left: 1vw;
  width: 86vw;
  height: 80vh;
}

.filter:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-dark);
}

.filter:before {
  content: '\f05b';
}

.pin-pul {
  font-size: 5vh;
  margin-left: 1vw;
}

.pin-pul:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-gray-200);
}

.pin-pul:before {
  content: '\f08d';
}

.recent-pul {
  font-size: 5vh;
  margin-left: 1vw;
}

.recent-pul:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-gray-200);
}

.recent-pul:before {
  content: '\f017';
}

.arch-pul {
  font-size: 5vh;
  margin-left: 1vw;
}

.arch-pul:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-gray-200);
}

.arch-pul:before { /* archivar \f08b  eliminar   modificar \f044*/
  content: '\f187';
}

.pinned-up {
  width: 84vw;
  height: 32vh;
  margin-left: 1vw;
  background-color: var(--bs-gray-300);
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;
}

.pinned-up > * {
  display: inline-block;
  vertical-align: top;
}

.archived-up {
  width: 84vw;
  height: 72vh;
  margin-left: 1vw;
  background-color: var(--bs-gray-300);
  border-radius: 10px;
  
}

.pin-da {
  font-size: 5vh;
  margin-left: 1vh;
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-6A91A4);
}

.othersd {
  width: 30vw;
  border-radius: 10px;
  height: 30vh;
  margin: 1vh 1vh;
  background-color: #212529;
}

.encabezado-pin {
  width: 100%;
  height: 4vh;
  display: flex;
}

.utitle {
  width: 90%;
  height: 100%;
}

.titulo-pin {
  margin-left: 1vh;
  margin-top: 1.5vh;
  font-size: 2vh;
  color: var(--bs-white);
}

.lik-p {
  font-size: 3vh;
}

.lik-p:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-gray-200);
}

.lik-p:before { /* archivar \f08b  eliminar f1f8  modificar \f044  desarchivar \f08e   */
  content: '\f08d'; /* unlike f069 */
}

.final-pin {
  width: 100%;
  height: 5vh;
  display: flex;
}

.etiqueta-pin {
  width: 70%;
  height: auto;
}

.pin-botones {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.pin-botones button {
  margin-top: 0.5vh;
  height: 4vh;
  border-radius: 5px;
}

.etiq-p {
  font-size: 3vh;
  margin-left: 1vw;
}

.etiq-p:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-gray-200);
}

.etiq-p:before { /* archivar \f08b  eliminar f1f8  modificar \f044  desarchivar \f08e   */
  content: '\f02c'; /* unlike f069 */
}

.delete-pin {
  font-size: 3vh;
}

.delete-pin:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-danger);
}

.delete-pin:before { 
  content: '\f05c';
}

.modify-pin {
  font-size: 3vh;
}

.modify-pin:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-blue);
}

.modify-pin:before { 
  content: '\f044';
}

.archive-pin {
  font-size: 3vh;
}

.archive-pin:before {
  font-family: fontawesome;
  font-weight: normal;
  color: var(--bs-teal);
}

.archive-pin:before { 
  content: '\f08b';
}


.like-pin {
  border-radius: 8px;
  height: 4vh;
  margin-top: 0.2vh;
  background-color: var(--bs-teal);
  transition: 1s;
}

.like-pin:hover {
  background-color: var(--bs-3C4245);
  transition: 1s;
}

.ulike-pin {
  border-radius: 8px;
  height: 4vh;
  margin-top: 0.2vh;
  background-color: var(--bs-cyan);
  transition: 1s;
}

.ulike-pin:hover {
  background-color: var(--bs-teal);
  transition: 1s;
}

.et-p {
  font-size: 3vh;
  margin-left: 1vh;
  color: var(--bs-gray-200);
}

.etiquetas-modal {
  color: var(--bs-gray-300);
  font-size: 3vh;
  margin-right: 5vw;
}

.etiquetas-modal2 {
  color: var(--bs-gray-300);
  font-size: 3vh;
}

.recordatorios-pin {
  margin-left: 5%;
  border-radius: 10px;
  padding: 1vh 1vh;
  width: 90%;
  margin-top: 2%;
  height: 65%;
  background-color: var(--bs-gray-400);
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;
}
/* \f02c */

.datos {
  padding: 1vh 1vw;
  margin-left: 5vw;
  width: 72vw;
  height: 64vh;
}

.etiqueta-titulo {
  width: 70vw;
  height: 15vh;
  align-content: center;
  text-align: center;
}

.etiqueta-descripcion {
  width: 70vw;
  height: 25vh;
  display: flex;
  align-items: center;
}

.caja-etiquetas {
  width: 70vw;
  height: 22vh;
  align-content: center;
  text-align: center;
}

.input-title {
  width: 20vw;
  height: 5vh;
  text-align: center;
  font-size: 2vh;
  border-radius: 5px;
}

.titulo-caja-etiquetas {
  width: 100%;
  height: 5vh;
  margin-bottom: 3vh;
  text-align: center;
}

.contenido-caja-etiquetas {
  width: 100%;
  height: 13vh;
}

.input-etiqueta-nueva {
  margin-right: 2vh;
  border-radius: 5px;
}

.input-content {
  width: 25vw;
  border-radius: 5px;
  padding: 0.5vh;
  height: 10vh;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;  
}

.segonda {
  margin-left: 16.5vw;
}

.anuevaetiqueta {
  width: 50vw;
  height: 8vh;
  margin: auto;
}

.anuevaetiqueta button {
  padding: 1vh 1vw;
  border-radius: 10px;
}

.input-etiqueta-nueva {
  width: 20vw;
  height: 3vh;
  text-align: center;
}

.errornuevae {
  margin-top: -0.7vh;
  color: var(--bs-danger);
}

.selecten {
  width: 15vw;
  height: 3vh;
}